.navbar{
	border: 1px solid black;
	margin-top: -540px;
}
.na{
}
#menus_site li:nth-child(4)
{
	background-color: #bebebe; 
}
.nava{
    background: #fff;
    border-radius: 20px;
   
}
.SERVICES{
	color: rgb(4 21 60);
	font-size: 50px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.reception{
	color: red;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -70px;
}
.container-fluid
{
	margin-bottom: 50px;
}
.primo{
	height: 200px;
	margin-top: -50px;  
}
.primo img{
	width: 217vh;
	height: 400px;
	margin-left: -110px;
	margin-top: -150px;
}
.annimer_balise
{
	font-weight: bold;
	font-size: 20px;
	color: rosybrown;
	margin-top: -100px;
	margin-bottom: 50px;
}
@media screen and (max-width: 1280px)
{
	.primo
	{
		width: 108%;
	}
	.primo img
	{
		width: 132%;
	}
}	
.article
{
	
	text-align: justify;
	height: 100%;
	/*background: #bebebe;*/
	margin-right: 30px;
	padding: 10px;
	border-radius: 6px;
	margin-bottom: 20px;
}
@media screen and (max-width: 1280px)
{
	.article
	{
		margin-bottom: 100px;
	}
}
.aside
{
	padding: 10px;
	height: 100%;
	font-family: Poppins;
	background: #032d48;
	margin-top: -100px;
	color: #b6bfc1;
	box-shadow: 1px 2px 5px #1c1a19;
	border-radius: 6px;
	margin-bottom: 20px;
}
.paragraphe_texte
{
	padding: 20px;
	font-size: 18px;
}
.row
{
	margin-top: -100px;
}
.Titre
{
	text-align: center;
	/*font-weight: bold;*/
	line-height: 26px;
	color: #e0e3e5;
	font-family: Impact;
}
.image img
{
	margin-left: 75px;
	margin-top: 10px;
	border-radius: 5px;
	/*border: 1px solid black;*/
	box-shadow: 2px 4px 4px black;
}
@media screen and (max-width: 1280px)
{
	img
	{
		margin-left: 150px;
	}
}
.icones
{
	font-size: 25px;
	text-align: center;
	/*padding: 10px;*/
}
.icones a
{
	color:rgb(192  192 192);
}
.information
{
	text-align: justify;
	margin-top: 20px;
	font-size: 18px;
	word-spacing: 0px;
}
.center_story
{
	text-align: center;
	font-weight: bold;
	font-family: Impact;
	color: #043552;
}
.mission_vision
{
	text-align: center;
	/*border: 1px solid #ebe4e4;*/
	background: #dad2d2;
}
.accordion h4
{
	font-weight: bold;
}
@media screen and (max-width: 1280px)
{
	.paragraphe_texte, aside h3
	{
		font-size: 15px;
	}
	.center_story, .mission_vision
	{
		font-size: 22px;
	}
	.accordion h4
	{
		font-size: 18px;
	}
	p
	{
		font-size: 15px;
	}
}
#scrollUp
{
	position: fixed;
	bottom : 20px;
	right: -100px;
	opacity: 0.5;
}
#scrollUp img
{
	width: 50px;
	box-shadow: none;
}