/* Mise en forme des menus */
.navbar{
	border: 1px solid black;
	margin-top: -540px;
}
#menus_site li:nth-child(5)
{
	background-color: #bebebe; 
	/*font-weight: bold;*/
}
.nava{
    background: #fff;
    border-radius: 20px;
   
}
/* Mise en forme du contenu de la  page */
.SERVICES{
	color: rgb(4 21 60);
	font-size: 50px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.reception{
	color: red;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -70px;
}
.container-fluid
{
	margin-bottom: 50px;
}
.primo{
	height: 200px;
	margin-top: -50px;  
}
.primo img{
	width: 217vh;
	height: 400px;
	margin-left: -110px;
	margin-top: -150px;
}
.annimer_balise
{
	font-weight: bold;
	font-size: 20px;
	color: rosybrown;
	margin-top: -100px;
	margin-bottom: 50px;
}
@media screen and (max-width: 1280px)
{
	.primo
	{
		width: 108%;
	}
	.primo img
	{
		width: 132%;
	}
}
#our_page
{
	/* background: lightcoral; */
	height: auto;
	padding: 20px 50px 20px 50px;
	font-size: 19px;
	text-align: justify;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
.point_rouge
{
	background: rgba(0, 255, 55, 0.829);
	border: 1px solid black;
	height: 70px;
	width: 70px;
	border-radius: 50%;
}
.suite
{
	margin-left: 80px;
	width: 150px;
	text-align: justify;
}
.page_adresse, .page_phones, .page_about_us
{
	/* background: cadetblue; */
	margin-bottom: 20px;
	height: 200px;
	align-items: center;
	justify-content: center;
}
.page_adresse, .page_phones
{
	margin-right: 120px;
}
.page_phones .point_rouge, .page_about_us .point_rouge
{
	margin-left: 50px;
}
.page_phones h4, .page_adresse h4, .page_about_us h4
{
	text-align: left;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 25px;
	padding-top: 5px;
}
.page_phones p, .page_adresse p, .page_about_us p
{
	padding-top: 10px;
	font-weight: normal;
	font-style: italic;
}
/* Adresse MAP */
.block_form input
{
	font-weight: 500;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Mise en place du responsive design */
@media screen and (max-width: 767px){
	.page_adresse .point_rouge
	{
		margin-left: 50px;
	}
	
  }
  
