@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


nav{
	height: 10vh;
	background: silver;
	border-radius: 50px;

}
.nav-links{
	display: flex;
	list-style: none;
	width: 50%;
	background: rgb(0 0 64);
	border-radius: 20px;
	height: 100%;
	justify-content: space-around;
	align-items:center;
	margin-left: auto;

}
.nave-links li a{
	color: red;
	text-decoration: none;
	font-size: 16px;
}
.landing{
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;


}
.landing h1{
	height: 100px;
	font-size: 60px;
	margin-top: 500px;
    margin-left: -250px;




}
@media screen and (max-width: 768px){
      
       
	 .line{
	     width: 30px;
	     height: 3px;
	     background: white;
	     margin: 5px;
     }
     nav{
	     position: relative;
     }
     .hamburger{
	     position: absolute;
	     cursor: pointer;
	     right: 5%;
	     top:35%;
	     transform: translate(-5%, -50%);
	     z-index: 2;
     }


	.nav-links{
	position: fixed;
	background:rgb(0 0 64);
    height: 100vh;
	width: 100%;
	flex-direction: column;
	clip-path: circle(100px at 90%-40px);
	-webkit-clip-path:circle(100px at 90%-40%);
     transition: all 1s ease-out;
     pointer-events: none;
  }
  .nav-links.open{
     clip-path: circle(100px at 90%-40%);
	-webkit-clip-path:circle(1000px at 90%-40%);
	pointer-events: all;
     }
   .londing{
	     flex-direction: column;
     }
    /* .nav-links li{
	     opacity: 0;
     }*/
     .nav-links li a{
     	color: white;
	     font-size: 25px;
	     overflow: 
     }
    /* .nav-links li:nth-child(1) {
	    transition: all 0.5s ease 0.2s;
     }*/
     /*.nav-links li:nth-child(2) {
	    transition: all 0.5s ease 0.4s;
     }*/
    /* .nav-links li:nth-child(3) {
	    transition: all 0.5s ease 0.6s;
     }*/
     /*li.fade{
	   opacity: 1;
     }*/
}








/*.navbar{
	border: 1px solid black;
	background-color: rgb(192 192 192);
	border-radius: 50px;
    padding: 10px 20px;
}
#menus_sit li:nth-child(1)
{
	background-color: #bebebe; 
*/
	                                       /*border: 1px solid white;
	                                       border-bottom-left-radius: 20px;
	                                       border-top-left-radius: 20px
	                                       /*opacity: 0.1;*/
/*}
#menu
{
	margin-top: 20px;
}
.na{
    padding: 1px 50px;
    
}
.nava{
    background: #fff;
    border-radius: 20px;
   
}*/

.premier{
    height: 550px;
    padding: 50px 80px;
}
.title
{
	font-size: 1.6em;
	text-align: center;
}
.paragraphe{
	text-align: center;
}
.premier button{
    margin-left: 70px;
}

.btn1{
	color: gold;
    border-radius: 50px;
}
.btn2{
	color: gold;
    border-radius: 50px;
}
.ENGLISH{
	/*padding: 0px 0px 20px 30px; */
	/*margin-left: 30px;*/
	margin-left: 50px;
}
.deuxieme{
	background-image: url("images/creatif-parlez-vous-anglais_23-2147886551.jpg");
	margin-top:150px;
	height: 660px;	
}
@media screen and (max-width: 1280px)
{
	.deuxieme
	{
		position: relative;
		right: 50px;
	}
}	
.icone-bar{
	color:rgb(192  192 192);
	font-size: 25px;
    margin-left: 100px;
	margin-top: 10px;
}

.APPELLE-NOUS{
	text-transform: uppercase;
	font-size: 24px;
	margin-left: 20px;
	margin-right: 40px;
}



	.descrAbout_block h3
	{
		margin-top: 100px;
		font-size: 21px;
		font-weight: 700;
	}
	.socialmedia_block
	{
		height: 80px;
		padding-top: 10px;
	}
	.socialmedia_block i
	{
		margin-left: 8px;
		padding: 12px 12px;
		border-radius: 50%;
		font-size: 20px;
		color: #fff;
	}
	.socialmedia_block .fa-facebook
	{
		padding: 12px 16px;
		background: #3B5998;
	}
	.socialmedia_block .fa-instagram
	{
		padding: 12px 13px;
		background:  linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
	}
	.socialmedia_block .fa-twitter
	{
		background: #1DA1F2;
	}

	#services_block
	{
		height: auto;
		margin-top: 10px;
	}
	.descr_service_block
	{
		height: auto;
		
	}
	.card-header
	{
		background: #3498db;
		font-weight: 700;
		font-size: 17px;
		border-radius: none !important;
		outline: none !important;
	}
	.card-header button
	{
		font-weight: bold;
	}
	.card-header, .btn-link
	{
		color: #fff !important;
		text-decoration: none !important;
	}
	.btn-link:hover
	{
		text-decoration: none !important;
		columns: #000 !important;
	}

	.btn-link:after
	{
		content: '\2212';
		width: 35px;
		font-size: 20px;
		text-align: center;
		right: 15px;
		top: 15px;
		position: absolute;
	}
	.btn-link.collapsed:after
	{
		content: '\002B';
	}
	.collapse span
	{
		font-size: 25px;
		font-weight: bold;
		color: #3498db;
	}



.primo{
    height: 600px;
    display: block;
    padding: 200px 20px 0px 100px;    
}
@media screen and (max-width: 1280px)
{
	.primo
	{
		position: relative;
		right: 40px;
	}
}
.how{
    height: 4Opx;   
}
.how div{
    box-shadow: -1px -1px 0px 1px #00aeff;   
}
.haw{
    height: 4Opx;
}
.haw div{
    box-shadow: 1px 1px 1px 1px  #00aeff;
}
.hew{
    height: 4Opx;
}
.hew div{
    box-shadow: 1px -1px 0px 1px #00aeff;
}
.sar{
    height: 200px;
    display: flex;
}
.hiw{
    background: white;
    height: 50px;
    width: 50px;
    border-radius:25px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.soo{
	color: red;
	margin-left: 250px;
	margin-top:80px;
	display: none;
}
.APPELLE-NOUS{
	font-weight: bold;
	padding: 0px 0px 0px 150px;
}


@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.wrapper{
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    column-gap: 20px; 
}
.card-all{
    height: 380px;
    width:300px;
    border-radius: "30px";
    /* overflow: hidden; */
    box-shadow: 6px 6px 12px #b58e28,
                -6px -6px 12px #fffc8f;
      
    background:#fbc531;
    transition: all 0.5s;
    
}

.card-all .img{
    height: 380px;
    width:300px;
    overflow: hidden;
    transition: all 0.5s;
  
}
.card-all .img img{
    transition: relative;
    top: 0;
    left: 0;
    transition: all 0.5s;
  
}
.card-all:hover .img{    
    height: 50px;
    transition: all 0.5s;
  
}
.card-all:hover .img img{
    top: -25px;
    left: -50px;
}
.card-all .detaills{
    padding: 20px;
    margin: 20px;
    text-align: center;
    background:#fbc531 ;
    box-shadow: inset 6px 6px 12px #b58e28,
               inset -6px -6px 12px darkgrey;
    border-radius: 50px 12px 57px 20px;

}
.card-all .detaills h2{
    font-weight:bold
    margin-bottom: 10px;
}
.card-all .detaills h4{
    font-weight:400;
	font-family: 'Lobster', cursive;
    margin-bottom: 10px;
}

@media screen and (max-width: 1280px)
{
	.wrapper{
		display: table-column;	    
		justify-content: center;
		
	}
	.card-all .img{
		margin-top: 60%;
		width: 100%;
		
	  
	}
	.card-all {
		width: 100%;
		
	  
	}
	
}
/*.principal{
	height: 500px;
	background-color: /*rgb(22 22 52) 0, 63, 94*/ /*rgb(0, 54, 81);*/
	/*opacity: 0.9;
	width: auto;
	margin: 200px 0 5px 0;
	padding: 10px;*/
	/*margin-top: 200px;*/
/*}
.bloc1 img{
	width: 300px;
	margin-left: 20px;
	box-shadow: 0px 2px 2px #1c1a19;
	border-radius: 5px;*/
	/*height: 400px;
	background-image: url(images/2.JPG);*/
/*}*/
/*.fighter
{
	margin-left: 100px;
	
}

.bloc2 img{
	position: relative;
	left: 135%;*/
	/*left: 120%;*/
/*	bottom: 400px;
	width: 460px;
	height: 350px;
	box-shadow: 0px 2px 2px #1c1a19;
	border-radius: 5px;
	cursor: pointer;
*/	/*margin: 0 0 50% 70%;*/
	/*height: 400px;
	background-image: url(images/13.JPG);
	/*margin-left: 335px;
	margin-top: -400px;*/
	
/*}*/
/*.bloc3 img{
	position: relative;
	left: 320%;*/
	/*left: 240%;*/
	/*bottom: 800px;
	width: 300px;
	box-shadow: 0px 2px 2px #1c1a19;
	border-radius: 5px;
	cursor: pointer;*/
	/*height: 400px;
	width: 400px;
    background-image: url(images/26.JPG);
	/*margin-left: 69px;
	margin-top: -400px;*/
	
/*}*/
/*@media screen and (max-width: 1280px)
{
	.principal
	{
		display: none;*/
	/*}*/
	/*.principal
	{
		height: 350px;
		width: auto;
	}	
	.bloc1 img
	{
		position: relative;
		left: 0px;
		width: 200px;
		margin-left: 0px;
	}*/
	/*.bloc2 img
	{
		display: none;*/
		/*position: relative;
		right: 100px;
		width: 200px;
		margin: 150px 0 0 0;*/
	}
	/*.bloc3 img
	{
		display: none;*/
		/*width: 200px;
		margin: 149px 0 0 238%;*/
	/*}*/
	/*.sb2
	{
		display: none;*/
		/*position: relative;
		right: 285px;
		height: 140px;
		padding: 5px;
		font-size: 14px;*/
	/*}*/
	/*.sb3
	{
		display: none;
		position: relative;
		right: 484px;
		height: 160px;
		padding: 5px;
		padding-bottom: 5px;
		font-size: 14px;
	}
}*/
/*.sb1{
	position: relative;
	bottom: 890px;
	height: 150px;
	padding: 10px;
	text-align: justify;
	background-color: white;
	box-shadow: 2px 2px 5px black;
	border-radius: 5px;
	margin-left: 75px;
	margin-top: -30px; 
	cursor: pointer;
}*/
/*@media screen and (max-width: 1280px)
{
	.sb1
	{
		display: none;
	}
}
.sb2{
	position: relative;
	bottom: 940px;
	height: 150px;
	text-align: justify;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 2px 2px 5px black;
	margin-left: 540px;
	margin-top: -100px; 
	cursor: pointer;
	
}*/

/*.sb3{
	position: relative;
	bottom: 1050px;
	height: 110px;
	padding: 10px;
	text-align: justify;
	background-color: white;
	border-radius: 5px;
	box-shadow: 2px 2px 5px black;
	cursor: pointer;
	margin-left: 1025px;
	
}*/
/*.sb2:hover, .sb1:hover, .sb3:hover
{
	border: 1px solid white;
	border-color: #00aeff; 
}*/


#book
{
	font-weight: bold;
}
#contact
{
	margin-top: 20px;
	font-weight: bold;
}
.bloc-min{
	height: 800px;
	
}
.min5{
	height: 430px;
	width: 600px;
	background-color: red;
	margin-left: 100px;
	margin-top: -600px;
	border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%; 
}
@media screen and (max-width: 1280px)
{
	.min5
	{
		width: auto;
		margin-left: 10px;
	}
}
.min5a{
	height: 100px;
	width: 150px;
	background-color: yellow;
	border-radius: 100% 90% 120% 26% ;
	margin-left:150px;
	margin-top: -450px

}
.See{
	color: black;
	font-size: 30px;
	font-weight: bold;
	margin-left: 250px;
	margin-top: 20px;

}
@media screen and (max-width: 1280px)
{
	.See
	{
		width: auto;
		font-size: 20px;
		margin-left: 110px;
	}
}
.seddoeiusmod{
	color: white;
	text-align: justify;
	padding:10px 700px 13px 200px  ;
}
@media screen and (max-width: 1280px)
{
	.seddoeiusmod
	{
		width: auto;
		font-size: 15px;
		padding:10px 80px 60px 50px;
	}
}

.min5b{
	height: 70px;
	width: 100px;
	background-color: yellow;
	border-radius: 300% 90% 220% 26% ;
	margin-left: 500px;
	margin-top: -10px;
}
@media screen and (max-width: 1280px)
{
	.min5b
	{
		margin-left: 300px;
		margin-top: -50px;
		margin-bottom: 100px;
	}
}
.form{
	padding:0px 100px 0px 100px;
	margin-left: 250px;
	margin-top: 200px;

}

@media screen and (max-width: 1280px)
{
	.premier button
	{
		display: none;
	}
	.ENGLISH
	{
		margin-left: 50px;
	}

}
#scrollUp
{
	position: fixed;
	bottom : 20px;
	right: -100px;
	opacity: 0.7;
}
#scrollUp img
{
	width: 50px;
}

/* The footer of the page*/

footer .container{
	max-width: 1170px;
	margin:auto;
}
footer .row{
	display: flex;
	flex-wrap: wrap;
	margin-left: 50px;
}
footer ul{
	list-style: none;
}

#centre ul, #adresse_centre ul
{
	position: relative;
	right: 35px;
	font-family: 'Poppins', sans-serif;
}
.footer{
	margin-top: 100px;
	background-color: #bebebe;
    padding: 70px 20px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   margin-left: 50px;
}
.footer-col h4{
	font-size: 18px;
	color: #24262b;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: bold;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	padding-left: 5px;
	text-transform: capitalize;
	color: #bbbbbb;
	text-decoration: none;
	font-weight: 300;
	color: #24262b;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #215d80;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #24262b;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #90aab9;
}
.droits
{
	position: relative;
	top: 50px;
	text-align: center;
	padding-top: 50px;

}
/*responsive*/
@media screen and (max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
	}
	footer .row
	{
		margin-left: 0px;
	}
}

@media screen and (max-width: 574px){
  .footer-col{
    width: 70%;
	}
	footer .row
	{
		margin-left: 0px;
	}
}

/*.base-bloc{
	background-color:silver;
	height: 600px;
	margin-top: 30px;
}

 .premiere-bloc{
	height: 350px;
	margin-left: 25px;
	margin-top: -520px;

}
.premiere-bloc img{
	
	height: 350px;
	width: 250px;
	
} 
.pres-bloc1{
	height: 100px;
	width: 250px;
	margin-left: 25px;
	background-color: white;
	box-shadow: 0px 2px 15px rgba(0,0,0,1.8);	
}
.pres-bloc1 .text1{
	padding: 15px 20px;
}
.deuxieme-bloc{
	
	height: 350px;
	width: 100px;
	margin-left: 300px;
	margin-top: -450px;
	box-shadow: 0px 2px 15px rgba(0,0,0,1.8);
}
.deuxieme-bloc img{
	
	height: 350px;
	width: 250px;
	
} 
.pres-bloc2{
	height: 100px;
	width: 250px;
	margin-left: 300px;
	background-color: white;
	box-shadow: 0px 2px 15px rgba(0,0,0,1.8);	
}
.pres-bloc2 .text2{
	padding: 15px 20px;
}
.troisieme-bloc{
	height: 350px;
	width: 250px;
	margin-top: -450px;
	margin-left: 570px;
	
} 
.troisieme-bloc img{
	height: 350px;
	width: 250px;
	box-shadow: 0px 2px 15px rgba(0,0,0,1.8);
	
} 
.pres-bloc3{
	height: 100px;
	width: 250px;
	margin-left: 570px;
	background-color:white;
	box-shadow: 0px 2px 15px rgba(0,0,0,1.8);	
}
.pres-bloc3 .text3{
	padding: 15px 20px;
}
.quatreieme-bloc{
	height: 550px;
	width: 450px;
	margin-left: 850px;
	margin-top: -500px;
}
.quatreieme-bloc img
	height: 550px;
	width: 450px;

.Know{
	font-size: 40px;
	font-weight: bold;{
}


	margin-left: 50px;
	margin-top: -450px;
}
.Customer{
    font-size: 40px;
    font-weight: bold;
	margin-left: 50px;
	margin-top: -35px;
	}*/

	
	









/*.deuxieme{
    background: royalblue;
    background-image: url(images/ja.jpg);
    height: 680px
    margin-top: -50px;
    display: flex;
    padding: 10px 30px;
}*/
/*.sii{
    background: #fff !important;
    border: none;
    border-radius: 20px;
    color: #000000;
    padding: 10px;
   
 }
.deuxieme h1{
    display: flex;
    justify-content: center;
    align-items: center;
}     
.see{
    background: #ff0000 !important;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 15px;
    
 }
 .saa{
    background: #7fecfa !important;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 15px;
   
 }
.pr{
    height: 100px;
    background: #fff; 
    margin-top: -100px;
    display: block;
    justify-content: center;
    align-items: center; 
    padding-left: 100px;
    
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
  }
.icon span{
    font-size: 20px;
}
.nis{
    color:  #7fecfa;
}
.bord{
    color: #969595fa;
}
.dis{
    height: 80px;
    background: transparent;
    margin-top: -400px;
    
}
.dis h1{
    font-size: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}*/
/*#rere
{
	display: flex;
	justify-content: center;
   width: 500px;	
}*/